# ========================
# Java
# ========================

*.class
*.log
hs_err_pid*
replay_pid*

# ========================
# Build tools
# ========================

.gradle/
build/
out/

# keep gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# ========================
# IDEs
# ========================

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/

# Zed
.java/bin/

# ========================
# OS
# ========================

.DS_Store
Thumbs.db
